body{
    font-optical-sizing: auto;
    font-family: "Plus Jakarta Sans", serif !important;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-spa{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
    font-weight: 500 !important;
}

/* footers */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-info-socials i{
margin-right: 1rem;
font-size: 1.2rems;
}


.f-info{
    height: 8rem;
    background-color:#ebebeb ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
    text-align: center;
}

/* cards */
.cards{
    border: none;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    margin-top: 10px !important;
}

.card-padding{
    padding: 0 !important;
}

.card-text p{
    font-weight:400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* new page  */
.add-btn{
   background-color: #fe424d !important;
   border:none !important;
}
 input::placeholder{
    opacity: 0.4 !important;
 }
 textarea::placeholder{
    opacity: 0.4 !important;
 }

/* edit page  */
.edit-btn{
    background-color: #fe424d !important;
   border:none !important;
}
.image-container {
    display: inline-block;
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover .image-overlay {
    opacity: 1; /* Show on hover */
}


/* show page */
.show-img{
    height: 50vh;
    
}

/* map */
#map {
    height: 50vh
}

  /* nav category icon  */
  #filters {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 2rem;
    padding: 1rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  #filters::-webkit-scrollbar {
    display: none;
  }
  
  .filter {
    flex: 0 0 auto;
    text-align: center;
    opacity: 0.7;
  }
  
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  
  .nav-scroll-wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .tax-toggle {
    border: 2px solid rgba(40, 38, 38, 0.852);
    border-radius: 20px;
    padding: 0.5rem 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  
  .tax-toggle label {
    margin-left: 0.5rem;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
  }
  
  @media screen and (max-width: 768px) {
    .tax-toggle {
      display: none !important;
    }
  }
  
  /* Initial style for the toggle */
  .form-check-input {
      box-shadow: 0 0 2px 1px black; /* blue glow */
    }
  
    /* Glow effect when checked */
    .form-check-input:checked {
      box-shadow: 0 0 5px 1px #0d6efd; /* blue glow */
      background-color: #0d6efd;
      border-color: #0d6efd;
    }

  .tax-info {
    color: gray;
    font-size: 0.9rem;
    margin-left: 5px;
  }
  